.mypy_cache
.pytest_cache
.ruff_cache
htmlcov
.coverage
.python-version
__pycache__
*.pyc
dist/
venv
.venv
.vscode
.DS_Store
*.private_ignore
*.html
warningsanalyzer.toml
.tox
*.csv
1.txt
1.toml
*.pickle
/coverage.xml
/coverage
junit.xml
/output
/build
/dist
/*.spec
*.sqlite3
